@page "/{id:int?}"
@model Gorgan_Sorana_Proiect.Pages.Parfumuri.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Parfum[0].Denumire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parfum[0].Descriere)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parfum[0].Pret)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parfum[0].DataAparitie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parfum[0].Brand.NumeBrand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parfum[0].Gen.NumeGen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parfum[0].AromeParfum)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ParfumD.Parfumuri)
        {
            string selectedRow = "";
            if (item.ID == Model.ParfumID)
            {
                selectedRow = "table-success";
            }
        <tr class="@selectedRow">

            <td>
                @Html.DisplayFor(modelItem => item.Denumire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descriere)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pret)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataAparitie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand.NumeBrand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gen.NumeGen )
            </td>
            <td>
                @{
                    foreach (var aroma in item.AromeParfum)
                    {
                        @aroma.Aroma.ID @: @aroma.Aroma.NumeAroma <br />
                    }
                }
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
            }
        </tbody>
</table>
